body
    width: 90%
    max-width: 1000px
    margin: 0 auto
    padding-top: 50px

    font-family: sans-serif
    background: #eee

.CodeMirror
    height: auto !important
    margin-bottom: 100px

    box-shadow: 0 0 5px 1px rgba(black, 10%)
