body
    width: 90%
    max-width: 1000px
    margin: 0 auto
    padding-top: 50px

    font-family: sans-serif
    background: #eee

.CodeMirror
    height: auto !important
    margin-bottom: 100px

    box-shadow: 0 0 5px 1px rgba(black, 10%)

.color-disc
    display: inline-block
    width: 1.6em
    height: 0.8em
    margin: 0 1em

    vertical-align: center
    
    border-radius: 0.2em

    box-shadow: 0 0 5px 1px rgba(black, 10%)
